This notebook will be mainly used for the Capstone Project for the final module of the IBM Data Science Professional Certificate.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [4]:
# The code was removed by Watson Studio for sharing.

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
0,2019-1-8/07/2020,2 Metropolitan,HAMPSTEAD GARDENS,5086,CITY OF PORT ADELAIDE ENFIELD,2,0,0,0,0,...,Right Angle,1,Driver Rider,1: PDO,Give Way Sign,NaN,NaN,1331810.03,1676603.26,13318101676603
1,2019-2-8/07/2020,2 Metropolitan,DRY CREEK,5094,CITY OF SALISBURY,2,0,0,0,0,...,Rear End,2,Driver Rider,1: PDO,No Control,NaN,NaN,1328376.20,1682942.63,13283761682943
2,2019-3-8/07/2020,2 Metropolitan,MILE END,5031,CITY OF WEST TORRENS,2,1,0,0,1,...,Hit Pedestrian,1,Driver Rider,2: MI,No Control,NaN,NaN,1325819.68,1670994.26,13258201670994
3,2019-4-8/07/2020,2 Metropolitan,PARALOWIE,5108,CITY OF SALISBURY,2,1,0,1,0,...,Hit Fixed Object,1,Driver Rider,3: SI,No Control,NaN,NaN,1328320.60,1690237.08,13283211690237
4,2019-5-8/07/2020,2 Metropolitan,MOUNT BARKER,5251,DC MT.BARKER.,2,0,0,0,0,...,Hit Animal,2,Animal,1: PDO,No Control,NaN,NaN,1353279.99,1655645.15,13532801655645

In [8]:
df_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12964 entries, 0 to 12963
Data columns (total 33 columns):
REPORT_ID           12964 non-null object
Stats Area          12964 non-null object
Suburb              12964 non-null object
Postcode            12964 non-null int64
LGA Name            12857 non-null object
Total Units         12964 non-null int64
Total Cas           12964 non-null int64
Total Fats          12964 non-null int64
Total SI            12964 non-null int64
Total MI            12964 non-null int64
Year                12964 non-null int64
Month               12964 non-null object
Day                 12964 non-null object
Time                12964 non-null object
Area Speed          12964 non-null int64
Position Type       12964 non-null object
Horizontal Align    12964 non-null object
Vertical Align      12964 non-null object
Other Feat          12964 non-null object
Road Surface        12964 non-null object
Moisture Cond       12964 non-null object
Weather Cond        12964 non-null object
DayNight            12964 non-null object
Crash Type          12964 non-null object
Unit Resp           12964 non-null int64
Entity Code         12964 non-null object
CSEF Severity       12964 non-null object
Traffic Ctrls       12964 non-null object
DUI Involved        349 non-null object
Drugs Involved      314 non-null object
ACCLOC_X            12964 non-null float64
ACCLOC_Y            12964 non-null float64
UNIQUE_LOC          12964 non-null int64
dtypes: float64(2), int64(10), object(21)
memory usage: 3.3+ MB